<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinícolas do Brasil</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <div id="plotly-div-1" class="plotly-graph-div">{{ plot_html_1 | safe }}</div>
    <div id="plotly-div-2" class="plotly-graph-div hidden">{{ plot_html_2 | safe }}</div>
    <!-- Inserir botões de troca de gráfico
         2 gráficos por DataFrame
         5 DataFrames na aplicação -->
    <button onClick="switchPlot()">Switch Plot</button>
    <script>
        let currentPlot = 1;

        function switchPlot(){
            if (currentPlot === 1){
                document.getElementById('plotly-div-1').classList.add('hidden');
                document.getElementById('plotly-div-2').classList.remove('hidden');
                currentPlot = 2;
            } else {
                document.getElementById('plotly-div-2').classList.add('hidden');
                document.getElementById('plotly-div-1').classList.remove('hidden');
                currentPlot = 1;
            }
        }
    </script>


</body>
</html>