<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinícolas do Brasil</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <div id="plotly-div" class="plotly-graph-div">{{ plot_html | safe }}</div>
    <!-- Inserir botões de troca de gráfico
         2 gráficos por DataFrame
         5 DataFrames na aplicação -->


</body>
</html>